/******************************************/
/* Universal Selector */
/******************************************/
* {
  font-family: sans-serif;
}

/******************************************/
/* Element Selectors */
/******************************************/
header {
  height: 8cm;
  background-image: url(./images/candle.jpg);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  display: block;
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

h3 {
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
  margin-top: 10px;
  text-align: start;
}

h4 {
  font-size: 14px;
  color: white;
  font-family: sans-serif;
  margin-top: 2px;
  text-align: start;
  font-weight: normal;
  padding-left: 15px;
  text-decoration: none;
}

nav {
  display: flex;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

li {
  height: 1rem;
  width: 6rem;
  list-style-type: none;
}

section a {
  display: flex;
}

aside {
  float: left;
  height: inherit;
  width: 4cm;
  border-right: 0.08cm solid grey;
  margin-top: 0.5cm;
  margin-left: 1.5cm;
  text-align: center;
  vertical-align: middle;
}

/******************************************/
/* Class Selectors */
/******************************************/
.container-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0.5cm;
  margin-left: 3cm;
  margin-right: 2cm;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.nav-items {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: white;
  border-style: solid;
  width: 6rem;
  height: 25px;
  background-color: rgb(79, 106, 85);
  border-radius: 1cm;
  display: flex;
  margin-right: 1cm;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.contact-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 4cm;
  width: auto;
  justify-content: space-evenly;
  align-content: center;
}

.container-work a {
  background-color: #36405b;
  color: blanchedalmond;
  border-radius: 10px;
  border-style: ridge;
  width: 3cm;
  height: 1.2cm;
  text-align: center;
  justify-content: left;
}

.work-info {
  display: inline;
  background-color: grey;
  height: 55px;
  width: 12rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/******************************************/
/* ID Selectors */
/******************************************/
#nav-container {
  display: flex;
  margin-right: 1cm;
}

#about-me {
  display: flex;
  font-family: monospace;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  height: 151.17px;
  margin-top: 0.5cm;
  padding: 0.5cm;
}

#header-text {
  color: white;
  text-align: end;
  margin: 0%;
  position: relative;
  top: 12rem;
  margin-right: 3rem;
  font-family: monospace;
  font-size: 70px;
}

#name {
  font-size: 2.8em;
  font-weight: bold;
  background-color: rgb(79, 106, 85);
  padding: 10px 40px 10px 40px;
  text-align: left;
  display: block;
  align-items: center;
  white-space: nowrap;
  color: #e4dec4;
}

#main-box {
  background-image: url(./images/horiseon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  background-size: cover;
  width: 60%;
  height: 5cm;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  border: 0.05cm solid #36405b;
  border-radius: 10px;
}

#box2 {
  background-image: url(./images/js.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 5cm;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  border: 0.05cm solid #36405b;
  border-radius: 10px;
}

#box3 {
  background-image: url(./images/quiz.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 5cm;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  border: 0.05cm solid #36405b;
  border-radius: 10px;
}

#box4 {
  background-image: url(./images/scheduler.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 5cm;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  border: 0.05cm solid #36405b;
  border-radius: 10px;
}

#box5 {
  background-image: url(./images/weather.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  height: 5cm;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
  border: 0.05cm solid #36405b;
  border-radius: 10px;
}

#contact-me1 {
  border-style: solid;
  border-radius: 10px;
  background-image: url(./images/phone.png);
  background-position: center;
  background-size: cover;
  width: 4.5cm;
  text-align: center;
  height: 1cm;
}

#contact-me2 {
  border-style: solid;
  border-radius: 10px;
  background-image: url(./images/github.png);
  background-position: center;
  background-size: cover;
  width: 4.5cm;
  text-align: center;
  height: 1cm;
}

#contact-me3 {
  border-style: solid;
  border-radius: 10px;
  background-image: url(./images/mail.png);
  background-position: center;
  background-size: cover;
  width: 4.5cm;
  text-align: center;
  height: 1cm;
}

#contact-me4 {
  border-style: solid;
  border-radius: 10px;
  background-image: url(./images/linkedin.png);
  background-position: center;
  background-size: cover;
  width: 4.5cm;
  text-align: center;
  height: 1cm;
}

/******************************************/
/* Media queries */
/******************************************/
@media screen and (max-width: 992px) {
}
