/* Universal Selector */
* {
    font-family: sans-serif;
}

header {
    height: 10cm; 
}

#name {
 text-align: center;
 font-weight: bold;
 color: rgb(192, 160, 119);
 height: auto;
 margin-top: 0cm;
 margin-bottom: 0cm;
 float: left;
 font-size: 3rem;
 margin-left: 1cm;
 text-decoration: double;
 text-decoration-color: rgb(45, 42, 31);
 text-decoration-line: underline;
 align-content: center;
}

h1 {
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0cm;
}

h2 {
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0cm;
    margin-left: 54rem;
}

nav {
background-color: black;
display: flex;
}

li {
  height: 1rem;
  width: 6rem;  
  list-style-type: none;
   background-color: antiquewhite;
}

.nav-items {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: black;
    border-style: double;
    border-radius: 5cm;
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

#header-text {
    color: aliceblue;
    text-align: right;
    margin-right: 2cm;
}

#header-background {
    background-image: url(./candle.jpg);
    background-size: 1629px 377.94px;
    background-repeat: no-repeat;
}